.post {
  /* margin: 0 auto; */
  max-width: 404px;
  min-width: 145px;
}

.card_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card_actions_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post_username {
  padding-left: 5px;
}
