.app_header {
  padding-top: 20px;
  /* height: 64px; */
  /* width: 100%; */
}

.sub_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_add_post {
  padding-top: 30px;
  padding: 20px;
}

.icon_add_post:hover {
  opacity: 0.4;
}
