.profileHeader_container {
  padding-top: 64px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.profileHeader_infoBox {
  max-width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileHeader_infoBox_avatar {
  /* width: 100px; */
  padding-bottom: 10%;
  padding-top: 10%;
}

.profileHeader_username {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profileHeader_email {
  /* padding-top: 10px; */
  padding-bottom: 10px;
}
