* {
  margin: 0;
}

.posts {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: repeat(3, minmax(300px, auto)); */
  /* align-items: center;
  justify-items: center; */
  place-items: center center;
  /* place-content: center center; */

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  /* row-gap: 10px; */
  /* column-gap: 10px;  */
  gap: 20px;
}

/* .item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
} */
